body{
    font-family: 'Montserrat', sans-serif;
}
.limitador{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.centralizar{
    text-align: center;
}
.esquerdo{
    text-align: left;
    padding-top: 15px;
}
.padding{
    padding: 20px 0;
}
.padding02{
    padding: 50px 0 10px 0;
}
.pagina01{
    background-image: url(imagens/fundo.png);
    background-position: center;
    padding: 200px 0;
    background-color: rgb(235, 235, 235);
    background-size: cover;
    color: rgb(82, 99, 69);
}
.pagina02{
    padding: 100px 0;
    background-color: rgb(192, 180, 180);
    background-size: cover;
    color: white;
}
.pagina03{
    padding: 100px 0;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    color: rgb(97, 116, 81);
}
.pagina04{
    padding: 100px 0;
    background-color: #b98f7bb0;
    background-size: cover;
    color: white;
}
.botao01{
    position: relative;
    display: inline-block;
    border: none;
    padding: 8px 18px; 
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(203, 175, 150);
    color: white;
    font-size: 13px;
    margin: 15px auto;
    transition: background .3s, color .3s, transform .3s;
}
.botao01:hover {
    background-color: rgb(97, 116, 81);
    color: white;
    transform: scale(1.1);
    text-decoration: none;
}
.botao02{
    position: relative;
    display: inline-block;
    border: none;
    padding: 8px 18px; 
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    color: rgb(203, 175, 150);
    font-size: 13px;
    margin: 15px auto;
    transition: background .3s, color .3s, transform .3s;
}
.botao02:hover {
    color: rgb(203, 175, 150);
    transform: scale(1.1);
    text-decoration: none;
}
.container02{
    height: 350px;
    background-size: contain;
    width: 350px;
    background-image: url('./imagens/doistropicos.jpg');
    position: relative;
}
.image{
    max-width: 100%;
    height: auto;
    width: 400px;
}